:root {
    --spring-easing: linear(0, 0.0018, 0.0069 1.15%, 0.026 2.3%, 0.0637, 0.1135 5.18%, 0.2229 7.78%, 0.5977 15.84%, 0.7014, 0.7904, 0.8641, 0.9228, 0.9676 28.8%, 1.0032 31.68%, 1.0225, 1.0352 36.29%, 1.0431 38.88%, 1.046 42.05%, 1.0448 44.35%, 1.0407 47.23%, 1.0118 61.63%, 1.0025 69.41%, 0.9981 80.35%, 0.9992 99.94%);
}

body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.anchored-pointer {
    position: absolute;
    position-anchor: --selected;
    top: anchor(top);
    left: anchor(left);
    width: 3.5rem;
    height: 3.5rem;
    margin-top: calc(anchor-size(height) * 0.5 - 2rem);
    margin-left: calc(anchor-size(width) * 0.5 - 2rem);
    display: block;
    background: none;
    border: 1px solid white;
    border-radius: 50%;
    transition: all 1s var(--spring-easing);
    filter: drop-shadow(0 3px 6px gray);
    pointer-events: none;
    overflow: hidden;
    backdrop-filter: url(#filter);

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: radial-gradient(1rem 3rem ellipse at 50% 85% in oklch, oklch(100% 0 0 / 0%) 10% 50%, 150%, oklch(100% 0 0 / 100%) 175% 165%), radial-gradient(2rem 3.5rem ellipse at 45% 35% in oklch, oklch(0% 0 0 / 0%) 80%, gray 150%);
    }
}

.action-bar {
    display: flex;
    align-items: center;
    background-color: #fcfcfc;
    border: 1px solid #e5e5e5;
    border-radius: 1rem;
    padding: 1rem 1rem 0.65rem 1rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

button {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    border-radius: 999px;
    margin: 0 0.25rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.fas {
    background: none;
    transition: filter 0.1s ease;
}

button:hover,
button:focus {
    background-color: #f5f5f5;
}

button:focus {
    outline: none;
}

.selected {
    background-color: #fcebeb;
    color: red;
}

.selected:hover,
.selected:focus {
    background-color: #fcebeb;
}

.selected .fas {
    filter: drop-shadow(0 0 4px tomato);
}

button::before {
    content: '';
    position: absolute;
}

.fas {
    font-size: 20px;
    color: #666;
}

.selected .fas {
    color: #ff4444;
}